@*綁定繫結的型別*@
@model Toeicking2021.Models.ResetPasswordAdministrator
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - Toeicking2021</title>*@
    <link rel="shortcut icon" href="~/favicon_1.ico" />
    <title>多益金後台管理系統</title>


    @*版型需要的檔案*@
    <link href="~/lib/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/lib/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/icons.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/myCustom.css" rel="stylesheet" />
    <script src="~/lib/assets/js/modernizr.min.js"></script>
    <link href="~/lib/assets/css/sweetalert2.css" rel="stylesheet" />

</head>
<body>

    <div class="wrapper-page">
        @if (ViewBag.result != "error")
        {
            <div class="text-center">
                <a href="index.html" class="logo-lg"><i class=""></i> <span>重設密碼</span> </a>
            </div>
            @*from標籤使用TagHelper會自動產生權杖，但action端還是要加[ValidateAntiForgeryToken]搭配*@
            <form class="form-horizontal m-t-20" asp-controller="Home" asp-action="ResetPassword" method="post">

                <div class="form-group row">
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="mdi mdi-email"></i></span>
                            @*繫結物件屬性*@
                            <input asp-for="Email" class="form-control" type="email" required="" value="@ViewBag.email">
                        </div>
                        @*驗證用的span，位置要放這，排版比較好看*@
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                @*若是已登入要重設密碼，為了安全性，要再輸入一次舊密碼*@
                @if (ViewBag.userType == "logged in")
                {
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="mdi mdi-key"></i></span>
                                <input asp-for="OldPassWord" class="form-control password" type="password" maxlength="12" required="" placeholder="舊密碼(6-12位英數混合)">
                            </div>
                            <i class="fa fa-eye password-eye"></i>
                            <span asp-validation-for="OldPassWord" class="text-danger"></span>
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="mdi mdi-key"></i></span>
                            <input asp-for="NewPassWord" class="form-control password" type="password" maxlength="12" required="" placeholder="新密碼(6-12位英數混合)">
                        </div>
                        <i class="fa fa-eye password-eye"></i>
                        <span asp-validation-for="NewPassWord" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="mdi mdi-key"></i></span>
                            <input asp-for="NewPassWordCheck" class="form-control password" type="password" maxlength="12" required="" placeholder="再次輸入新密碼(6-12位英數混合)">
                        </div>
                        <i class="fa fa-eye password-eye"></i>
                        <span asp-validation-for="NewPassWordCheck" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group text-right m-t-20">
                    <div class="col-xs-12">
                        @*若按鈕標籤有奇怪，把waves-effects拿掉*@
                        <input class="btn btn-primary btn-custom waves-light w-md" type="submit" value="確定送出">
                    </div>
                </div>
                @*隱藏欄位判斷是哪種使用者重設密碼，再送到post動作方法*@
                <input type="hidden" name="userType" value="@ViewBag.userType" />
            </form>
        }
        else
        {
            <div class="text-center">
                <a href="" class="logo-lg"><i class=""></i> <span>出現無法預期的錯誤</span> </a>
            </div>
        }

    </div>


    <script>
        var resizefunc = [];
    </script>

    <script src="~/lib/assets/js/jquery.min.js"></script>
    <script src="~/lib/assets/js/popper.min.js"></script>
    <script src="~/lib/assets/js/bootstrap.min.js"></script>
    <script src="~/lib/assets/js/detect.js"></script>
    <script src="~/lib/assets/js/fastclick.js"></script>
    <script src="~/lib/assets/js/jquery.slimscroll.js"></script>
    <script src="~/lib/assets/js/jquery.blockUI.js"></script>
    <script src="~/lib/assets/js/waves.js"></script>
    <script src="~/lib/assets/js/wow.min.js"></script>
    <script src="~/lib/assets/js/jquery.nicescroll.js"></script>
    <script src="~/lib/assets/js/jquery.scrollTo.min.js"></script>
    <link href="~/lib/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <script src="~/lib/assets/js/jquery.core.js"></script>
    <script src="~/lib/assets/js/jquery.app.js"></script>
    <script src="~/js/myCustom.js"></script>
    @*使用jquery-ajax-unobtrusive*@
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    @*使用sweetalert*@
    <script src="~/lib/assets/js/sweetalert2.js"></script>
    @*想要在前端驗證需匯入下列兩個內建檔案*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
