
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form>
    <input type="text" />
    <input type="text" />
    <select>
        <option></option>
        <option></option>
        <option></option>
    </select>
    <select>
        <option></option>
        <option></option>
        <option></option>
    </select>
</form>

