
@{
    ViewData["Title"] = "資料分頁";
}

@section topCSS{
    <link href="~/lib/plugins/footable/css/footable.core.css" rel="stylesheet" />
}

@section bottomCSS{
    <style type="text/css">
        /*關鍵字框寬度*/
        .a.form-control.mr-4 {
            width: 80px;
        }
        /*目前頁highlight*/
        /*">"是選直接子元素，"(空一格)"是選所有後代元素*/
        .footable-page.active > a {
            background-color: #3bafda;
            border-color: #3bafda;
        }
        /*不能點按的按鈕*/
        .footable-page-arrow.disabled > a {
            pointer-events: none;
            opacity: 0.5;
        }
        /*ul靠右*/
        tfoot ul {
            float: right;
        }
    </style>

}

<div class="card-box">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label><b>查詢條件</b></label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group row">
                <div class="col-lg-1">
                    <input type="text" class="form-control" id="SenNum" name="SenNum" placeholder="編號" />
                </div>
                <div class="col-lg-3">
                    <input type="text" class="form-control" id="Keyword" name="Keyword" placeholder="關鍵字" />
                </div>
                <div class="col-lg-2">
                    <select id="AddedDate" name="AddedDate" class="form-control">
                        @*沒有寫value值，value值會等於text值*@
                        <option value="">存入日期-請選擇</option>
                        <option value="0">當天存入</option>
                        <option value="-1">1天前存入</option>
                        <option value="-7">7天內存入</option>
                        <option value="-14">14天內存入</option>
                        <option value="-30">30天內存入</option>
                        <option value="-60">60天內存入</option>
                        <option value="-365">1年內存入</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select id="CountDesc" name="CountDesc" class="form-control">
                        <option value="">最近幾筆-請選擇</option>
                        <option value="10">最近10筆</option>
                        <option value="20">最近20筆</option>
                        <option value="30">最近30筆</option>
                        <option value="40">最近40筆</option>
                        <option value="50">最近50筆</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select id="CheckTimes" name="CheckTimes" class="form-control">
                        <option value="">檢查次數-請選擇</option>
                        <option value="0">檢查0次</option>
                        <option value="1">檢查1次</option>
                        <option value="2">檢查2次</option>
                        <option value="3">檢查3次</option>
                        <option value="4">檢查4次</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select id="PageSize" name="PageSize" class="form-control">
                        <option value="">每頁幾筆-請選擇</option>
                        <option value="5">每頁5筆</option>
                        <option value="10">每頁10筆</option>
                        <option value="15">每頁15筆</option>
                        <option value="20">每頁20筆</option>
                        <option value="25">每頁25筆</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a id="sendFormData" class="btn btn--lg btn-block btn-primary waves-light mt-3" style="color:white; letter-spacing:1.5px;">
                送出查詢
            </a>
        </div>
    </div>
</div>
@*被表格replace with的div(id要一樣)*@
<div id="change"></div>

@*footable檔案需在topScripts位置*@
@section topScripts{
    <script src="~/lib/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/lib/assets/pages/jquery.footable.js"></script>
}

@section bottomScripts{ 
    <script>
        $(function () {
            $("#sendFormData").on("click", function () {
                // 抓表單值要寫在click事件內，否則是網頁初載入時的空值
                var formData = {
                    SenNum: $("#SenNum").val(),
                    Keyword: $("#Keyword").val(),
                    AddedDate: $("#AddedDate").val(),
                    CountDesc: $("#CountDesc").val(),
                    CheckTimes: $("#CheckTimes").val(),
                    PageSize: $("#PageSize").val()
                };
                // 一定要選每頁幾筆
                if (formData.PageSize === "") {
                    swal(
                        {
                            title: '錯誤',
                            text: '請選擇每頁顯示幾筆資料！',
                            type: 'error'
                        }
                    );
                } else {
                    // ajax get回動作方法，並帶表單值在QueryString
                    $.get("@Url.Content("~/Sentence/Retrieve")", formData, function (response) {
                        // response是動作方法回傳的PartialView，要用replaceWith()去置換空的<div id="change">置換才會顯示
                        $("#change").replaceWith(response);

                    });
                }

            });

        });

    </script>
}

