@{
    ViewData["Title"] = "多益金後台管理系統";
}

@*<h1 style="text-align:center;font-weight:bold; font-size:300%;" class="title"></h1>
    <br />*@
<h1 style="text-align:center;font-weight:bold;font-size:80px;">多益金後台管理系統</h1>
<br />
@*<h4 style="font-style:italic;text-align:center; ">created by Max Ching</h4>
    <br />*@
<h1 style="text-align:center;font-weight:bold; font-size:300%;" class="title"></h1>
<br />
<div style="text-align: center; ">
    <img src="~/images/bigdata.jfif" style="height: 300px; width: 500px;" />
</div>


<input type="hidden" id="AlertHint" value=@ViewBag.AlertHint />
<input type="hidden" id="HintMessage" value=@ViewBag.HintMessage />

@section bottomScripts{
    <script>
        $(function () {
            var alertHint = document.getElementById("AlertHint").value;
            if (alertHint === "registered" || alertHint === "reset") {
                swal(
                    {
                        title: '成功',
                        text: $("#HintMessage").val(),
                        type: 'success'
                    }

                );

            }

        });


    </script>
}
